.article-container {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.articles {
    border: 2px solid rgb(43, 43, 43);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 35vh;
    width: 70vw;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.article {
    margin-left: auto;
    margin-right: auto;
    color: white;
    height: 30vh;
    width: 25vw;
    border-radius: 10px;
    background-color: rgb(43, 43, 43);
    text-align: center;
    overflow: hidden;
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: none;
}
.article-title {
    background-color: transparent;
    font-size: 2.5rem;
    text-decoration: none;
}
.article-content {
    background-color: transparent;
    font-size: 1rem;
    color: rgb(175, 174, 174);
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(43, 43, 43); 
  }