.mainpage {
  color: white;
  position: relative;
  top: 18rem;
  width: 35rem;
  height: 15rem;
  left: 20rem;
  overflow: hidden;
}
.title {
  font-size: 4rem;
  overflow: hidden; 
  border-right: .10em solid orange; 
  white-space: nowrap; 
  letter-spacing: .15em;
  width: 0; 
  animation: 
    typing 2.5s steps(60, end) forwards, 
    blink-caret .55s step-end infinite;
}

.undertitle {
  font-size: 1.5rem;
  color: rgb(179, 179, 179);
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; } 
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.projects {
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}
.projects h1 {
  font-size: 3rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;

}
.mainpage button {
  background-color: rgb(24, 24, 24);
  border: none;
  height: 3rem;
  width: 9rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
  margin-right: -1rem;
}
.react-icons1 {
  background-color: transparent;
}
.mainpage button:hover {
transform: translateY(-5px);
cursor: pointer;
background-color: rgb(43, 43, 43)	;
}
.projects {
max-width: fit-content;
margin-left: auto;
margin-right: auto;
overflow: hidden;

}
.project-container {
width: 80rem;
height: 45vh;
display: flex;
flex-wrap: wrap;

}
.project {
  max-width: fit-content;
margin-left: auto;
margin-right: auto;
color: white;
height: 40%;
width: 24%;
min-width: 24%;
margin-top: 1rem;
text-align: center;
border-radius: 10px;
background-color: rgb(43, 43, 43);
}
.project-title {
  background-color: transparent;
  font-size: 1.5rem;
}

.about{
  color: white;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}
.about h1 {
  font-size: 3rem;
}
.about p {
  font-size: 15.5px;
}
.about img {
  float: left;
  height: 17rem;
  margin-right: 1rem;
  border-radius: 10px;
}
.picture {
  position: relative;
  top: -10rem;
  left: 50rem;
  scale: 0.9;
}