.navbar-container {
    margin-top: 3rem;
    color: white;
    font-size: 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    overflow: hidden;
  }
  
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    overflow: hidden;

  }
  
  .inside-navbar {
   margin-left: 60rem; 
  }
  
  .inside-navbar li {
    font-size: 1.5rem;
    display: inline;
    margin: 0 2rem;
  }
  .inside-navbar li:hover {
    color: #a3a3a3;
    cursor: pointer;
  }
  .inside-navbar a  {
    text-decoration: none;
  }
.nav-name {
    text-decoration: none;
    color: white;
    margin-left: 15rem;
  }
