.navbar-container {
    margin-top: 3vh;
    color: white;
    font-size: 4vh;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    overflow: hidden;
    width: 90vw;
  }
  
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    overflow: hidden;

  }
  
  .inside-navbar {
   margin-left: 45vw; 
  }
  
  .inside-navbar li {
    font-size: 2.5vh;
    display: inline;
    margin: 0 5vh;
  }
  .inside-navbar li:hover {
    color: #a3a3a3;
    cursor: pointer;
  }
  .inside-navbar a  {
    text-decoration: none;
  }
.nav-name {
    text-decoration: none;
    color: white;
    margin-left: 10vw;
  }
@media screen and (max-width: 600px) {
    .navbar-container {
      width: 10vw;
      height: 15vh;
    }
    .inside-navbar {
      margin-left: 0vh;
    }
  
}