.navbar-container {
    margin-top: 3rem;
    color: white;
    font-size: 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
  }
  
  .inside-navbar {
   margin-left: 60rem; 
  }
  
  li {
    font-size: 20px;
    display: inline;
    margin: 0 2rem;
  }
  
  a {
    text-decoration: none;
    color: white;
    margin-left: 15rem;
  }
  .projects {
    margin-top: 40rem;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
  }
  .projects h1 {
    font-size: 3rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;

  }
.mainpage button {
  color: white;
  background-color: 	#24292e	;
  border: none;
  height: 3rem;
  width: 9rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
}
.mainpage button:hover {
  transform: translateY(-5px);
  cursor: pointer;
  background-color: #2b3137	;
}
